<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Results</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-image-post *ngFor="let el of result" [postObj]="el">
                </app-image-post>
            </div>
        </div>
    </div>
</div>

<form>
    <div class="mb-3">
        <label for="searchField" class="form-label">Search picture</label>
        <input type="text" class="form-control" id="searchField" [(ngModel)]="title" name="searchImage">
    </div>
    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="searchImage()">Submit</button>
</form>